h1 {
    font-size: 1.3em;
    color: #4C1BC0;
    margin: 0;
}

p {
    font-size: 1em;
}

.main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    padding: 0.5em;
    margin-top: 2rem;
    justify-content: center;    
}

.main p {
    color: #758BFD;
}


.section-one {
    grid-area: section-one;
    padding: 0.5em;
    margin-right: 2em;
}

.event-description {
    font-size: 0.8em;
}

.section-two {
    grid-area: section-two;
    padding: 0.5em;
    margin-bottom: 1em;
}

.value {
    color: #758BFD
}

.significance {
    font-size: 0.7em;
}