.item {
    display: flex;
    align-items: center;
    padding: 0 0.7rem;
    margin: 1rem 0.7rem;
    height: 4em;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #1C2321;
}

.item:hover {
    transform:scale(1.05,1.05);
}




.date {
    font-size: 0.7em;
    width: 30%;
    text-align: center;
  
    
}

.place {
    font-size: 0.6em;
    width: 50%;

}

.magnitude {
    font-size: 0.8em;
    width: 20%;
    color: #4C1BC0;
   
}
