footer {
    grid-area: footer;
    
    background-color: rgb(76, 27, 192);
    font-size: 0.7em;
    width: 100%;
    color: white;
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

footer a {
    text-decoration: none;
    color: orange;
}
