header {
    background-color: rgb(76, 27, 192);
    color: white;
    width: 100%;
    font-size: 1.5em;
    grid-area: header; 
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
    
}



.brand {
    font-size: 1.1em;
    margin: 0 1em;
    
}

.brand a {
    color: inherit;
    text-decoration: none;
}



.nav-list {
   display: flex; 
}

.nav-item {
    list-style-type: none;
    font-size: 0.7em;
    margin-right: 1em;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    transition: all ease-in-out 100ms;
}

.nav-item a:hover {
    border-bottom: 3px solid #FF8600;
}


